$blurple-000: #5865f2;
$blurple-100: #454fbf;
$blurple-200: #32398c;
$blurple-300: #1f2459;

$gren-000: #57f287;
$gren-100: #44bf6a;
$gren-200: #44bf6a;
$gren-300: #44bf6a;

$yelow-000: #fee75c;
$yelow-100: #fee75c;
$yelow-200: #978936;
$yelow-300: #978936;

$fuchsia-000: #eb459e;
$fuchsia-100: #eb459e;
$fuchsia-200: #832658;
$fuchsia-300: #832658;

$reb-000: #ed4245;
$reb-100: #ba3336;
$reb-200: #ba3336;
$reb-300: #531618;